<div class="container">
  <header>
    <h1>angular testing</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex dolorum autem
      libero tempore expedita nam impedit et reiciendis tenetur. Placeat dolore
      vitae animi expedita eos repellat. Dolores natus et aliquid?
    </p>
    <nav>
      <ul>
        <li routerLink="/">home</li>
        <li routerLink="/products">products</li>
        <li routerLink="/pico-previews">pico-preview</li>
      </ul>
    </nav>
  </header>
  <blockquote>hello world</blockquote>
</div>
<router-outlet></router-outlet>
